table { float: left;
        max-width: 20%;
        width: 200px; }

.mlb-th { padding-left: 90px;}

.mlb-tr { padding-left: 90px;}

.mlb-title {
  padding-left: 90px;
}

.mlb-td {
  padding-left: 90px;
}

.mlb-logo {
  padding-left: 90px;
}

.mlb-info {
  padding-left: 90px;
}

.mlb-updated-at {
  padding-left: 90px;
}